.react-flow__node-custom .react-flow__handle {
    top: 24px;
    right: -15px;
    width: 6px;
    height: 10px;
    border-radius: 5px;
    background-color: #778899;
}

.react-flow__node.buyMarket {
    width: 80px;
    height: 80px;
    border-radius: 50%;
    background-color: rgb(143, 194, 231);
    box-shadow: inset 0 0 4px rgba(0, 0, 0, 0.25);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 2;
}

.react-flow__node.sellMarket {
    width: 80px;
    height: 80px;
    border-radius: 50%;
    background-color: rgb(231, 143, 143);
    box-shadow: inset 0 0 4px rgba(0, 0, 0, 0.25);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 2;
}


.react-flow__node.logoInside {
    width: 80px;
    height: 80px;
    border-radius: 50%;
    background-color: #f7f1e8;
    box-shadow: inset 0 0 4px rgba(0, 0, 0, 0.25);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 3;
  }

.react-flow__edge-textbg {
    fill: rgb(255, 255, 255);
}

.react-flow__edge-text {
    color: #e2e6eb;
    font-size: 14px;
    padding-bottom: 10px;
}

.react-flow__edge-path, .react-flow__connection-path {
    stroke: #b1b1b7;
    stroke-width: 2;
    fill: none;
}