.App-header{
  margin: 0;
}

.App {
  text-align: center;
  background-color: #f7f1e8;
  min-height: 100vh;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: #454545;
}